@import "tailwindcss";

@theme {
  --color-primary: #131313;
  --color-secondary: #2e333d;
  --color-highlight: #6b8afd;
  --color-background: #202329;
}

* {
  box-sizing: border-box;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(3px);
}
